// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Wine explorer 虚拟桌面 → 浮动并忽略焦点
window-rule {
    match app-id="wine"
    match title="explorer.exe"
    open-floating true
    open-focused false
    geometry-corner-radius 0
}

window-rule {
        match title="wf-recorder.sh"
        open-floating true
        max-width 100
        max-height 100
}

window-rule {
    match app-id="yazi-picker"
    open-floating true
}

layer-rule{
    match namespace="hyprpaper"
    match namespace="wallpaper"
    match namespace="awww-daemon"
    place-within-backdrop true
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    opacity 0.97
    draw-border-with-background true
}

window-rule {
    match app-id="vivaldi-stable"
    match app-id="krita"
    match app-id="Godot"
    match app-id="Aseprite"
    match app-id="osu!"
    match app-id="明日方舟"
    match app-id="Minecraft* 1.20.1"
    match title="Endfield"
    match title="愚者 · The Fool"
    opacity 1.0
}

window-rule {
    match title="Chill With You"
    open-floating true
    max-height 216
    max-width 384
    opacity 1.0
}

window-rule {
    match app-id="kitty"
    opacity 0.99
}

window-rule {
  clip-to-geometry true
}

debug {
  honor-xdg-activation-with-invalid-serial
}

window-rule {
    match app-id="kitty"
    match app-id="wechat"
    match app-id="QQ"
    match app-id="obsidian"
    match app-id="Spotify"
    match app-id="yazi"
    match app-id="anki"
    match title="Cisco Secure Client"
    // opacity 0.95
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="QQ"
    match app-id="wechat"
    opacity 0.9
}

window-rule {
    match app-id="imv"
    match title="ToastWindow"
    match title="Form"
    open-focused false
    open-floating true
}

window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match title="好友列表"
    max-width 450
}

window-rule {
    match title="图片查看器"
    max-width 2400
    max-height 1400
}

window-rule {
    match title="登陆 Steam"
    match title="login"
    match title="Login"
    open-focused false
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id="nm-connection-editor"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="steam" title="Friends List"
    match app-id="blueberry.py" title="蓝牙"
    match app-id="flameshot"
    match app-id="com.github.hluk.copyq" 
    match app-id="be.alexandervanhee.gradia"
    match app-id="org.pulseaudio.pavucontrol" title="音量控制"
    match app-id="org.gnome.clocks" title="时钟"
    match app-id="fcitx" title="Fcitx5 Input Window"
    match app-id="org.gnome.FileRoller"
    match app-id="thunar" title="文件操作进度"
    match app-id="waypaper"
    match app-id="clipse-gui"
    match title="群聊的聊天记录"
    match title="聊天记录"
    match title="Form"
    match title="日历"
    match title="重命名"
    match app-id="btrfs-assistant"
    open-floating true
}
window-rule {
    match title="资料卡"
    open-focused false
}
window-rule {
    match title="鹰角启动器"
    open-floating false
}
window-rule {
    match title="gsr ui"
    match app-id="waydroid"
    open-fullscreen true
    open-floating true
    focus-ring{
        off
    }
    shadow {
    off
    }
}
window-rule {
    match title="图片查看器"
    match title="画中画"
    match title="图片和视频"
    match title="视频播放器"
    open-floating true
    opacity 1.0
}
// window-rule {
//     match title="图片查看器"
//     opacity 0.5
// }

window-rule {
    match app-id="mpv"
    match app-id="celluloid"
    opacity 1.0 
}
/-window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    default-floating-position x=0 y=0 relative-to="bottom-right"
    open-floating true
}
// window-rule {
//     // This app-id regular expression will work for both:
//     // - host Firefox (app-id is "firefox")
//     // - Flatpak Firefox (app-id is "org.mozilla.firefox")

//     match app-id="blueman-manager" title="蓝牙设备"
//     match app-id="org.pulseaudio.pavucontrol" title="音量控制"
//     default-floating-position x=0 y=0 relative-to="top-right"
//     open-floating true
// }
// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
